<%- include('../partials/header') %>

<h2><%= title %></h2>
<form action="/flights/<%- flight._id %>" method="GET">
    <label>Airline:
        <div><%= flight.airline  %></div>
    </label><br>

    <label>Airport: 
        <div><%= flight.airport  %></div>
    </label><br>

    <label>Flight No:
        <div><%= flight.flightNo  %></div>
    </label><br>
    
    <label>Departs:
        <div><%= flight.departs  %></div>
    </label><br>
</form>

<br><br><h2>Destinations</h2>
<form action="/flights/<%- flight._id %>/destinations" method="POST">
    <label>Airport: 
        <select name="airport">
            <option value="ORD">ORD</option>
            <option value="DFW">DFW</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Arrival: 
        <input type="datetime-local" name="arrival">
    </label><br><br>
    <button type="submit">ADD DESTINATION</button>

</form>


<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date Added</th>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <!-- Yes, we can define variables! -->
        
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= d.createdAt.toLocaleDateString() %></td>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

  <br><br><h2>Tickets</h2>
  <form action="/flights/<%- flight._id %>/tickets/new" method="GET">
    <button type="submit">ADD TICKET</button>
  </form>

  <% if (ticket.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
          
        </tr>
      </thead>
      <tbody>
        <!-- Yes, we can define variables! -->
        
        <% ticket.forEach(function(t) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
        
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Tickets Yet</h5>
  <% } %>
<%- include('../partials/footer') %>